<script type="text/javascript" src="scripts/src/strftime.js" />
<script type="text/javascript" src="scripts/test/strftime_test.js" />

@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to my Web Site!";
}
<p>

 
</p>